<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="height: 100%;width: 100%;position: relative;min-height: 100vh; padding-bottom: 70px;">
  <header>
    <!-- <nav class="navbar navbar-expand-lg nvcustom" style="background-color:rgb(111,0,255); color: white;">

    <a class="navbar-brand" href="#">Stock Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" [routerLinkActiveOptions]="{ exact : true}" routerLinkActive="active"
          routerLink="/">Search <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/watchlist">Watchlist</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/portfolio">Portfolio</a>

      </div>
    </div>
  </nav> -->
    <nav class="navbar navbar-expand-lg py-2.5 navbar-dark" style="background-color: rgb(105,85,242);">
      <a class="navbar-brand" routerLink="/">Stock Search</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pr-2">
            <a class="nav-link px-2" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/" style="text-align: right;">Search</a>
          </li>
          <li class="nav-item pr-2">
            <a class="nav-link px-2" routerLinkActive="active" routerLink="/watchlist"
              style="text-align: right;">Watchlist</a>
          </li>
          <li class="nav-item pr-2">
            <a class="nav-link px-2" style='padding-left: 8px; padding-right: 8px;' routerLinkActive="active"
              routerLink="/portfolio" style="text-align: right;">Portfolio</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- <div>
  <a [routerLink]="['/details', 'aapl']">
    Details for aapl
  </a>
  center_content
</div> -->

  <div class="main_content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="footer py-3" style="position: absolute;bottom: 0px;">
    <div class="container">
      <span class="text-muted">Powered by Tiingo.com and Developed by Himanshu Kriplani</span>
    </div>
  </footer>
</div>